@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}
<!-- ======= Breadcrumbs ======= -->
   @{
    var bImage = Model.Value<MediaWithCrops>("bannerImage").Url();
}


         <div class="breadcrumbs d-flex align-items-center" style="background-image: url('@bImage');">

      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>@Model.Value("subBannerTitle")</h2>
        @await Html.PartialAsync("Breadcrumbs")
      </div>
    </div><!-- End Breadcrumbs -->

        <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-12">

          <div class="col-lg-12">
           


            <article class="blog-details">

              <div class="post-img">
  @{  
   var image = Model.Value<MediaWithCrops>("thumbnailImage");
 if (image != null)
{
    <img src="@image.MediaUrl()" alt="" class="img-fluid col-6" data-aos="fade-up" data-aos-delay="200"/>
}
   }           </div>

              <h2 class="title">
                    @Model.Value("introText")
              </h2>

              <div class="meta-top">
                <ul>
                <!--  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li> 
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01">Jan 1, 2022</time>@Model.Value("newsDate")</date></a></li>-->
                                    <li class="d-flex align-items-center"><i class="bi bi-calendar"></i> <a href="blog-details.html"><time datetime="2020-01-01">@Model.Value("newsDate")</time></a></li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                <p>
                
@Model.Value("bodyText")</p>
<blockquote>
    <p>
    @Model.Value("blockquoteArea")
    </p>
</blockquote>
<p>@Model.Value("bodyText2")</p>


        <!--=================================== images Gallery===============================-->
  <!-- ======= Our Projects Section ======= -->
  <section id="projects" class="projects">
    <div class="container" data-aos="fade-up">
      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
        <div class="row gy-4 portfolio-container mb-3" data-aos="fade-up" data-aos-delay="200">
                       @{
    var typedMultiMediaPicker = Model.Value<IEnumerable<MediaWithCrops>>("multipleNewsImages");
    foreach (var entry in typedMultiMediaPicker)
    {
          <div class="col-lg-4 col-md-6 mb-3 portfolio-item filter-remodeling">
            <div class="portfolio-content h-100">
  
        <img src="@entry.MediaUrl()" class="img-fluid" />
             <div class="portfolio-info">
 
                <a href="@entry.MediaUrl()"   data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
             
              </div>
            </div>
          </div><!-- End Projects Item --> 
          }
          }
        </div><!-- End Projects Container -->
      </div>
    </div>
  </section><!-- End Our Projects Section -->
              </div><!-- End post content -->


            </article><!-- End blog post -->

           


          </div>

        
        </div>

      </div>
    </section><!-- End Blog Details Section -->
      </div>
    </section><!-- End Blog Details Section -->